@import './responsive';

.containerServices{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    @include desktop{
&::after{
        content: "";
        position: absolute;
        background-image: url("../public/brush.svg");
        background-size: cover;
        width: 150px;
        top: 25px;
        right:0 ;
        z-index: 1;
        opacity: 0.5;
        aspect-ratio: 800/765;
    }
    }
    
    @include desktop{
        width: 80%;
    }

    .introduction{
        font-size: 22px;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .colSelection{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        @include tablet{
            flex-direction: row;
        }
        .cardNav{
            padding: 5px 20px;
            color:whitesmoke;
            width: 150px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            text-decoration: unset;
            background-color:#3c2148;
            &:hover{
                background-color: #773396;
                filter: brightness(1.2);
            }
        }
    }
    .colService{
        display: flex;
        flex-direction: column;
        .title{
                font-size: 35px;
                color: #3c2148;
                font-weight: bolder;
                letter-spacing: .1rem;
                margin-top: 20px;
                margin-bottom: 20px;

            }
            .textContent{
                font-size: 22px;
                em{
                font-family: 'Playfair Display', serif;

                    font-weight: bolder;
                    font-size: 22px;
                    letter-spacing: 1px;
                    color: #3c2148;
                    &:hover{
                        color: #773396;

                    }
                }
            }
    }
    .navContact{
        text-decoration: unset;
        border: #3c2148 4px solid;
        font-size: 22px;
        margin-top: 40px;
        background-color: white;
        margin-bottom: 40px;
        letter-spacing: 1px;
        padding: 10px 40px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        &:hover,&:hover>a{
            background-color: #3c2148;
            color: white;
        }
        a{

            text-decoration: none;
            color: #3c2148;

        }
        @include tablet{
            width: unset;
            float: right;
            margin-bottom: 80px;
        }
      }
    
    
}